.messages {
  display: flex;
  flex-direction: column;
}

.sending {
  align-items: flex-end;
}

.sending .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #abd6f5 0%, #6eacd8 100%);
  background-attachment: fixed;
  position: relative;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.receiving {
  align-items: flex-start;
}

.receiving .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}
